.profile {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 30px;
}

.profile__wrapper {
  width: 900px;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profile__image__wrapper {
  width: 250px;
  display: flex;
}

.label-pic {
  cursor: pointer;
}

.link-edit-pic {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #a569bd;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.link-edit-pic:hover {
  transform: scale(1.1);
  background: #bf88d3;
}

.link-edit-pic:active {
  transform: scale(0.5);
}

.profile__image {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.icon {
  color: #111;
  font-size: 1.3rem;
}

.profile__info {
  padding: 20px;
  margin-top: 1.5rem;
}

.profile__username {
  display: flex;
  align-items: center;
}

.username__info {
  margin-right: 1rem;
  font-size: 2.5rem;
}

.edit-profile-btn {
  width: 85px;
  height: 30px;
  background: #b46bd1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.edit-profile-btn:hover {
  transform: scale(1.1);
  background: #9359aa;
}

.edit-profile-btn:active {
  transform: scale(0.5);
}

.profile__stats {
  display: flex;
  justify-content: space-between;
}

.user__stats {
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.profile__name__email {
  display: flex;
  flex-direction: column;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.img-area__wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 280px;
  grid-auto-flow: dense;
  grid-gap: 20px;
  width: 100%;
}

.single-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.9s;
  user-select: none;
  border-radius: 10px;
  transition: 1s ease-in-out;
}

.single-box:hover img {
  transform: scale(1.1);
}
