.h1__login {
  font-size: 3em;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
}

.wrapper__title {
  font-size: 5em;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
}

.wrapper__title span {
  font-size: 1em;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  color: #9b59b6;
}
